@font-face {
    font-family: 'Dropcaps';
    src: url('./dropcaps.ttf') format('truetype');
}

html {
  min-height: 100%;
}
body {
  min-height: 100%;
}
#everything {
    display: flex;
    width: 55%;
	max-width: 790px;
    margin: auto;
    flex-direction: column;
    position: relative;
}

#allCommentsContainer {
	width: 580px;
	display: flex;
	flex-direction: column;
	margin: 40px auto 40px auto;
}

.comment {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	border: 1px solid black;
	margin-bottom: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
}

.authorNtimestamp {
	height: 50px;
    border: solid black 1px;
    border-bottom: white;
    background-color: white;
}

.commentBody {
	min-height: 150px;
	border: 1px solid black;
	border-top: white;
}

.commentBody p { margin: 0 11px 11px 11px; }

h4 {
	margin: 7px 0 0 11px;
	font-family: quicksand;
}

h5 {
	font-weight: normal;
    color: darkgrey;
    margin: 3px 0 0 11px;
}

h1 {
    font-family: Quicksand, sans-serif;
    text-align: center;
    letter-spacing:2px;
	border: 1px solid black;
}

p {
	text-align: justify;
	font-family: Quicksand, sans-serif;
	font-weight: 300;
	border: 1px solid black;
}

#postBodyGoesHere::first-letter {
    float: left;
    font-family: 'Dropcaps';
	font-weight: 300;
    font-size: 150px;
	border: 1px solid black;
    padding-right: 8px;
}

/*
p:first-of-type::first-letter {
  font-family: 'Dropcaps';
  float: left;
  font-size: 7.125em;
  line-height: 0.65;
  margin: 0;
  padding: 0.05em 0.1em 10px 0;
}

@supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
  p:first-of-type::first-letter {
    -webkit-initial-letter: 4;
    initial-letter: 4;
    float: none;
    font-size: inherit;
    line-height: inherit;
    padding: 0 0.25em 10px 0;
  }
}*/

header {
    width: 100%;
    height: 9vw;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
	margin: 10px 0 30px 0;
}

header img { height: 100%; }

#blog2{ height: 94%; }

#blog3 {
    margin-left: 4px;
    height: 96%;
}

#leaveacomment {
    font-family: Quicksand, sans-serif;
    height: 50px;
    align-items: center;
    width: 100%;
    display: flex;
}

#editform {
	margin-bottom: 40px;
}

a {
    display: block;
    align-self: center;
    text-decoration: none;
}

/*private/privateedit.html ---------------------------------------------------*/
#logoutA {
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer !important;
	padding-right: 10px;
}

#privateEditBody { position: relative; }
/*private/privatelist.html ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*public/notallowed.html -----------------------------------------------------*/
#forbidden-h1 {
	text-align: center;
	font-size: x-large;
}

#forbidden-a {
	text-align: center;
	font-size: 400%;
	font-weight: bold;
}

#forbidden-a:visited { color: red; }

#forbidden-body { margin-top: 15%; }
/*public/publiclist.html~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.titles {
	list-style: none;
	cursor: pointer;
	font-family: Quicksand, sans-serif;
	font-size: large;
	font-weight: bold;
	text-transform: uppercase;
	width: fit-content;
}



/*private/login.html~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#login-form {
	display: flex;
	flex-direction: column;
}

#login-form label{ font-size: smaller; }

/*private/privatelist.html ---------------------------------------------------*/
#logout {
	position: absolute;
	left: 0;
	font-family: Quicksand;
	cursor: pointer;
}

.all-your-posts { margin-bottom: 40px; }

#post-title {
	font-family: Quicksand;
	font-weight: bold;
	padding-left: 20px;
	cursor: pointer;
	text-transform: uppercase;
}

.list-buttons {
	width: 80px;
	font-size: x-small;
}

/*----------------------------------------------------------------------------*/

.buttons {
    background-color: white;
    padding: 0 4px 0 4px;
    height: 100%;
    cursor: pointer !important;
}

#headline-container{
    display: grid;
}

#blogpost-title {
    justify-self: center;
	text-transform: uppercase;
}

#allposts {
    position: absolute;
    right: 0;
    font-family: Quicksand, sans-serif;
}


@media (max-width: 1000px) {
	body #everything { width: 75%; }
}

@media (max-width: 800px) {
	body #everything { width: 95%; max-width: none; }
	#logoutA { padding-right: 0; }
	header { margin: 10px 0 10px 0; }
	.all-your-posts { margin-bottom: 35px; }
	#postBodyGoesHere { margin-top: 0; }

}

@media (max-width: 600px) {
	.all-your-posts { margin-bottom : 30px; }
	header img { width: inherit; }
	#blog1 { width: 70%; }
}

@media (max-width: 400px) {
	#postBodyGoesHere::first-letter { margin-top: .15em; }
}
